body {
  background-color: darkblue;
}

.header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.map-container {
  height: 400px;
  width: 100%;
  border: 2px solid red;
  overflow: hidden;
}
